
body{
  margin: 0px;
}

/* nav bar section-----------------*/
.nav-c{
  background-color: #ffad33;
}
.nav-r{
  display: flex;
  justify-content: center;
}
.nav-logo{
  font-size: 50px;
}


/*Search Bar section --------------*/
.search-c{
  margin: 20px 300px 0px 300px;
}
.search{
  display: flex;
}
.search input{
  height: 50px;
  padding: 0px 10px 0px 40px;
  width: 100%;
  border: 1px solid rgb(235, 70, 70);
  box-shadow: 0px 0px 5px red;
  border-radius: 10px;
  font-size: 20px;
}
.search button{
  border: none;
  background-color:#995c00;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
}

/* Homepage section ------------------------*/

.home-c{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  background-color: #995c00;
  margin: 20px 300px 20px 300px;
height: 800px;
  overflow: scroll;
}
.home-c a{
  text-decoration: none;
}

/*Footer section ----------*/

.Footer-c{
  background-color: #333333;
  color: wheat;
}
.Footer-r{
  display: flex;
  justify-content: center;
}
.Footer-r-2{
  display: flex;
  justify-content: center;
}

/*Card section ------------------*/
.card-c{
  display: flex;
  flex-direction: column;
  background-color: #331f00;
  margin: 20px 30px 20px 30px;
  color: white;
  border-radius: 20px;

}
.card-img img{
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0px 0px;
}
.card-dis p{
  padding: 10px;
}

.card-c:hover{
  background-color: #ffad33;
}

